.env
.env.*
.hypothesis
*.pyc
|*.gitkeep
data/
models/
reports/
secret.yaml
*.csv
*.json
*.parquet
*.data
*.pckl
*.pkl
*.pickle
*.joblib
*.xls
*.xlsx
*.doc
*.docx
*.pdf
*.zip
*.gz
*.exe
venv/
*.venv/
*.env/
env/
*.pytest*/
*.coverage
.coverage.*
**.xml
*.log
*.out
*.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.egg*
.eggs/
lib64/
parts/
sdist/
var/
whells/
wheelhouse/
*.egg-infos
pip-wheel-metadata/
.installed.cfg
*.egg
*.eggs
*__pycache__
*.pynb_checkpoints
*/*.pynb_checkpoints/*
**.idea
**.vscod*
**.theia
*.swp
.DS_Store
Thumbs.db
